{% extends "base.html" %}
{% block head %}
<title>Bad Request</title>
{% endblock %}
{% block content_title %}
<h1>Bad Request</h1>
{% endblock %}
{% block main_content %}
<p>Request malformed (if you are using the Pixabay API, you need to supply a query string to the parameter 'q').</p>
{% endblock %}
