{% extends "base.html" %}
{% block head %}
<title>Page not found</title>
{% endblock %}
{% block content_title %}
<h1>Page not found</h1>
{% endblock %}
{% block main_content %}
<p>The page you were looking for couldn't be found.</p>
{% endblock %}
