<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/bootstrap_edited.css" />
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                  {% block content_title %}
                  {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" id="sidebar">
                <h3>Pages</h3>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <br/>
                    <li>Projects:</li>
                    <li><a href="{{ url_for('poisson_prediction') }}">Event prediction with Poisson distributions</a></li>
                    <li><a href="{{ url_for('static', filename='life_expectancy.html') }}">Life expectancy analysis</a></li>
                    <li><a href="{{ url_for('static', filename='python_ml.pdf') }}">Woody and tinny classification</a></li>
                    <li><a href="{{ url_for('text_generation') }}">Text generation</a></li>
                    <br/>
                    <li>Other:</li>
                    <li><a href="{{ url_for('static', filename='roddy_macsween_cv.pdf') }}">Resume</a></li>
                </ul>
            </div>
            <div class="col-sm-9" id="content">
                {% block main_content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer">
        <p class="text-muted text-center">&copy; 2017 Roddy MacSween</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
