{% extends "base.html" %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block content_title %}
<h1>Home</h1>
{% endblock %}
{% block main_content %}

<p>I'm a 3rd year undergraduate student studying computer science at the University of Cambridge. My other interests
include maths, philosophy, musical theatre, lingustics, magic, and jazz.</p>

<p>This is my personal website. At the moment, I mainly use it to store a growing portfolio of projects. It was built using
Flask and Bootstrap, uses the <a href="http://ethanschoonover.com/solarized">Solarized light</a> colour scheme, and runs
on <a href="https://www.pythonanywhere.com/">PythonAnywhere</a>. If you want to contact me, use the email address in my
CV in the sidebar.</p>

{% endblock %}
