{% extends "base.html" %}
{% block head %}
<title>Prediction with Poisson distributions</title>
{% endblock %}
{% block content_title %}
<h1>Prediction with Poisson distributions</h1>
{% endblock %}
{% block main_content %}
<p>I'm currently taking part in IARPA's Hybrid Forecasting Competition, which has a lot of questions that ask you to
predict the probability that the number of events of some kind (for instance earthquakes with a certain magnitude, or terrorist
attacks with a certain death toll) in a period. A simple way to do this is assume a Poisson distribution with a mean
estimated from the current rate. I did that by hand for the first few months of the competition, but now I've made a
calculator to make it more convenient.</p>
<p>To use this tool, put in the required values and press calculate. The category endpoints are included. If left
blank, they will default to 0 and infinity.</p>
<p>For example, suppose you want to predict the number of earthquakes in the current month, specifically the probability
that it will be less than 12. If there have been 23 days with 8 earthquakes so far and 7 days remaining, then you should
enter 23 for time elapsed, 8 for current count, 7 for time remaining, 0 for lower bound, and 11 for upper bound (because
endpoints are included).</p>

<form>
    <div class="form-group">
        <label for="timeElapsed">Time elapsed</label>
        <input type="number" class="form-control" id="timeElapsed">
    </div>
    <div class="form-group">
        <label for="currentCount">Current count</label>
        <input type="number" class="form-control" id="currentCount">
    </div>
    <div class="form-group">
        <label for="timeRemaining">Time remaining</label>
        <input type="number" class="form-control" id="timeRemaining">
    </div>
    <div class="form-group">
        <label for="lowerBound">Lower bound</label>
        <input type="number" class="form-control" id="lowerBound">
        <label for="lowerBound">Upper bound</label>
        <input type="number" class="form-control" id="upperBound">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Calculate</button>
</form>

{% endblock %}
