{% extends "base.html" %}
{% block head %}
<title>Text generation</title>
{% endblock %}
{% block content_title %}
<h1>Text generation</h1>
{% endblock %}
{% block main_content %}
<h2>Some silly text generation things:</h2>
<br/>
<p>A randomly generated startup idea: "{{ phrase }}".</p>
<p>A joke: "{{ joke }}".</p>

{% endblock %}
