/*$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #fdf6e3; /*base3*/
    color: #657b83; /*base00*/
    font-size: 16px;
    margin-bottom: 32px;
    padding-bottom: 128px;
}

hr {
    border-top: 1px solid #93a1a1; /*base1*/
}

#tagline {
    color: #93a1a1; /*base1*/
}

.container {
    margin-left: 32px;
    min-height: 100%;
    margin-bottom: -32px;
}

#sidebar {
    background-color: #eee8d5; /*base2*/
    border: 2px solid #93a1a1; /*base1*/
}

h1 {
    font-size: 48px;
    color: #b58900; /*yellow*/
    font-family: 'Merriweather', serif;
    line-height: 80px;
}

h3 {
    font-size: 32px;
    color: ##586e75; /*base01*/
    font-family: 'Merriweather', serif;
}

strong {
    color: ##586e75; /*base01*/
}

a {
    color: #b58900; /*yellow*/
}

ul {
    list-style: none;
    padding-left: 0;
}

.btn {
    color: #fdf6e3; /*base3*/
}

.footer {
    background-color: #eee8d5; /*base2*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 32px;
    border: 2px solid #93a1a1; /*base1*/
}
